---
import PageLayout from "@/layouts/Base";
// import { Image } from "@astrojs/image/components";
// import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			22-year-old CS undergrad from India. I'm a Full Stack Developer, Web 3 Developer, and
			Programmer. I'm also Member of <a
				href="https://superteam.fun/"
				target="_blank"
				class="underline">Superteam</a
			>

			<br />
			<br />
			I am based out of Mumbai, Where I am honing
			my skills and deepening my understanding of the latest trends and technologies in the field of
			computer science.
			<br />
			<br />
			Whether working on my own projects or collaborating with others, I am always focused on delivering
			high-quality results and pushing the boundaries of what is possible. If you are looking for a creative
			and driven individual to help bring your ideas to life, I would love to connect and explore potential
			opportunities.
		</p>
		<!-- <div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
			/>
		</div> -->
		<p>Here are my some of my awesome built projects :</p>
		<ul class="list-inside list-disc">
			<li>
				<a
					href="https://github.com/SplitWave"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>SplitWave
				</a>:
				<p class="inline-block sm:mt-2">Split Payment on the go on Solana Blockchain.</p>
			</li>
			<li>
				<a
					href="https://devprofilebuilder.vercel.app/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Dev Profile Builder
				</a>:
				<p class="inline-block sm:mt-2">Create Professional Profiles for Github.</p>
			</li>
			<li>
				<a
					href="https://github.com/simplysabir/AI-Writing-Assistant"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>AI Writing Assistant
				</a>:
				<p class="inline-block sm:mt-2">Generate Blog Post with utmost Clarity.</p>
			</li>
			<li>
				<a
					href="https://github.com/simplysabir/chat-application"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Chat Application
				</a>:
				<p class="inline-block sm:mt-2">CLI Based Chat Application built on Rust.</p>
			</li>
			<li>
				<a
					href="https://github.com/simplysabir/CoderClue"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Coder Clue
				</a>:
				<p class="inline-block sm:mt-2">AI Assistant for Programmers.</p>
			</li>
			<li>
				<a
					href="https://github.com/simplysabir/github-issues-scrapper"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>GitHub Issues Scrapper
				</a>:
				<p class="inline-block sm:mt-2">API for scraping issues from GitHub repos.</p>
			</li>
			<li>
				<a
					href="https://github.com/simplysabir/article-summarizer"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Article Summarizer
				</a>:
				<p class="inline-block sm:mt-2">
					Convert Long Articles into Byte Sized Concise Info with ByteWise
				</p>
			</li>
		</ul>
		<p>
			Can't List all here, Checkout my
			<a
				class="cactus-link inline-block"
				href="https://github.com/simplysabir"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github profile"
			>
				Github
			</a> for more projects !
		</p>
	</div>
</PageLayout>
