---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Working Experience</h1>
		<p class="mb-4">
			A trailblazing journey filled with diverse organizations and teams, empowering my adaptability
			and fueling my passion for collective success.
		</p>
	</section>

	<section class="mt-10">
		<h2 class="title text-xl">de_plan proto</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<p class="inline-block sm:mt-2">June 2023 - Present</p>
			</li>
			<li>
				<p class="inline-block sm:mt-2">
					Worked as a Full Stack Developer to <br />- Developed the API's <br />- Worked on Frontend
					App
				</p>
			</li>
			<li>
				<p class="inline-block sm:mt-2">
					Building the future of location-based applications through proto. Proto is a spatial data
					registry with decentralized proof-of-location and location-based services on the Solana
					blockchain.
				</p>
			</li>
		</ul>

		<h2 class="title mt-8 text-xl sm:mt-4">splitwave</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<p class="inline-block sm:mt-2">Feb 2023 - May 2023</p>
			</li>
			<li>
				<p class="inline-block sm:mt-2">Founding Engineer and Blockchain Developer.</p>
			</li>
			<li>
				<p class="inline-block sm:mt-2">
					I Have Helped in : <br /> - Getting Started from the Scartch. <br />- Helped in Building
					the Extension & xNFT for the dApp.<br />- Worked as a Founding Engineer.
				</p>
			</li>
		</ul>
	</section>
</PageLayout>
